<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>{% block title %} {% endblock %} 
          | AVA</title>
   <link rel="icon" href="{{ url_for('static', filename='img/webapp_logo_optimized1.png') }}">
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
   {% from "macros.html" import signed_out_navbar, signed_in_navbar %}
   {% if status == False %}
      {{ signed_out_navbar() }}
   {% else %}
      {{ signed_in_navbar(user) }}
   {% endif %}
   <div class="content">
      {% block content %} {% endblock %}
   </div>
   <footer>
      {#{% block footer %}
         &copy; Copyright 2024 by Cameron Joyce
      {% endblock %}#}
   </footer>
</body>
</html>
