<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>{% block title %} {% endblock %} 
          | AVA</title>
   <link rel="stylesheet" type="text/css" 
         href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
   <nav>
      <a href="{{ url_for('index') }}">AVA</a>
      <div class="site-pages">
         <a href="{{ url_for('index') }}">Home</a>
         {% if status == True %}
            <a href="{{ url_for('home', user_id=user_id) }}">My Events</a>
            <button><a href="{{url_for('create', user_id=user_id) }}">Create Event</a></button>
         {% endif %}
      </div>
      <div class="account-actions">
         {% if status == False %}
            <a href="{{ url_for('signup') }}">Sign up</a>
            <a href="{{ url_for('login') }}">Login</a>
         {% else %}
            <a href="{{ url_for('signout') }}">Sign out</a>
         {% endif %}
      </div>
   </nav>
   <hr>
   <div class="content">
      {% block content %} {% endblock %}
   </div>
</body>
</html>
