{% extends 'base.html' %}

{% block content %}
   <h1>{% block title %}Create New Event{% endblock %}</h1>
   <form method="POST" action="{{ url_for('create', user_id=user_id) }}">
      <label for="event-name">Event Name</label>
      <input type="text" name="event-name" placeholder="Event Name">
      <label for="date">Date</label>
      <input type="date" name="date">
      <br>
      <label for="oragnizer">Event Organizer</label>
      <input type="text" name="oragnizer" placeholder="Who is organizing the event?">
      <label for="event-type">Event Type</label>
      <select name="event-type">
         <option value="" disabled selected hidden>Select event type</option>
         <option value="participate-only">Participate-only</option>
         <option value="volunteer-only">Volunteer-only</option>
         <option value="volunteer-participate">Volunteer or Participate</option>
      </select>
      <br>
      <label for="desc">Event Description</label>
      <textarea type="text" name="desc" placeholder="Description"></textarea>
      <br>
      <button type="submit">Create Event</button>
  </form>
{% endblock %}
