{% extends 'base.html' %}
{% from "macros.html" import event_action_button %}
{% block content %}
<form method="POST">
    <span><h1>{% block title %}{{ form.getHeaderText() }} {% endblock %}</h1></span>
        <p class="form-required">* indicates a required field</p>
        {% for field in form %}
            <div class="form-group">
                <div>{{ field.label }} {{ '*' if field.flags.required }}</div>
                <div class="form-field">{{ field() }}</div>
            </div>
            {% if field.errors %}
                <ul class="errors">
                    {% for error in field.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endfor %}
        <div class="form-actions">
            <button type="submit">{{ form.getSubmitText() }}</button>
            {% if request.endpoint == 'edit_event' %}
                {{ event_action_button(request.endpoint, event.id, 'Delete Event') }}
            {% elif request.endpoint == 'edit_user' %}
                {{ event_action_button(request.endpoint, user_id, 'Delete Account') }}
            {% endif %}

            <button class="cancel"><a href="{{ url_for(prev_page, event_id=event_id) }}">Cancel</a></button>
        </div>
    </form>
{% endblock %}