{% extends 'base.html' %}
{% from 'macros.html' import user_events_panel, event_action_button, event_link, small_event_card %}

{% block content %}
    <span><h1>{% block title %} Your Dashboard {% endblock %}</h1></span>
    <div class="events-dashboard" >
        <div class="flex-separator"><h1>Upcoming Events</h1></div>
        <div class="event-dashboard-column">
            <h1 class="column-header">Events Organized</h1>
            {% for event in events if event.organizer_id == user_id and event.date >= today %}
                {{ small_event_card('org', event, user_id, event.organizer_name, user, today) }}
            {% endfor %}
        </div>
        <div class="event-dashboard-column">
            <h1 class="column-header">Events Participating</h1>
            {% for event in events %}
                {% for p in event.attendees if p.user_id == user_id and event.date >= today %}
                    {{ small_event_card('att', event, p.user_id, event.organizer_name, user, today) }}
                {% endfor %}
            {% else %}
                <p>You are not participating in any events yet.</p>
            {% endfor %}
        </div>
        <div class="event-dashboard-column">
            <h1 class="column-header">Events Volunteering</h1>
            {% for event in events %}
                {% for v in event.volunteers if v.user_id == user_id and event.date >= today %}
                    {{ small_event_card('vol', event, v.user_id, event.organizer_name, user, today) }}
                {% endfor %}
            {% endfor %}
        </div>
        <div class="flex-separator"><h1>Event History</h1></div>
        <div class="event-dashboard-column">
            <h1 class="column-header">Past Events Organized</h1>
            {% for event in events if event.organizer_id == user_id and event.date < today %}
                {{ small_event_card('org', event, user_id, event.organizer_name, user, today) }}
            {% endfor %}
        </div>
        <div class="event-dashboard-column">
            <h1 class="column-header">Past Events Participated</h1>
            {% for event in events %}
                {% for p in event.attendees if p.user_id == user_id and event.date < today %}
                    {{ small_event_card('att', event, p.user_id, event.organizer_name, user, today) }}
                {% endfor %}
            {% endfor %}
        </div>
        <div class="event-dashboard-column">
            <h1 class="column-header">Past Events Volunteered</h1>
            {% for event in events %}
                {% for v in event.volunteers if v.user_id == user_id and event.date < today %}
                    {{ small_event_card('vol', event, v.user_id, event.organizer_name, user, today) }}
                {% endfor %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
