{% extends 'base.html' %}
{% from 'macros.html' import user_events_panel, event_action_button, event_link, event_top_desc %}

{% block content %}
    <span class="title"><h1>{% block title %} Dashboard {% endblock %}</h1></span>
    <div class="main-container">
        <div class="user-info">
            {% if status == True %}
                <div>
                    <h3>{{ user.fullname }}</h3>
                    <p>Events organized: {{ user.events_organized|length }}</p>
                    <p>Events attended: {{ user.events_attended|length }}</p>
                    <p>Events volunteered: {{ user.events_volunteered|length }}</p>
                    <p>Volunteer hours: Coming soon</p>
                </div>
                <div>
                    <h3>Your upcoming events</h3>
                    {{ user_events_panel('Attending', user.events_attended, 'No events yet', ev, today) }}
                    {{ user_events_panel('Volunteering', user.events_volunteered, 'No events yet', ev, today) }}
                </div>
            {% else %}
                <div>
                    <h3>Welcome</h3>
                    <h4><a href="{{ url_for('login') }}">Log in</a> to see more info</h4>
                </div>
            {% endif %}
        </div>
        <div id="events">
            {% for event in events %}
                <div class="event event-card">
                    {{ event_top_desc(event, user) }}
                    
                    {% if 'volunteer' in event.event_type.code %}
                        <div class="volunteers">Volunteers: ({{ event.volunteers|length }})
                            {% for v in event.volunteers if v.user_id == user_id %}      
                                {{ event_action_button('unvolunteer', v.id, 'Unvolunteer') }}
                            {% else %}
                                {{ event_action_button('volunteer', event.id, 'Sign up to Volunteer') }}  
                            {% endfor %}
                        </div>
                    {% endif %}
                    
                    {% if 'participate' in event.event_type.code %}
                        <div class="participants">Participants: ({{ event.attendees|length }})
                            {% for p in event.attendees if p.user_id == user_id %}      
                                {{ event_action_button('unattend', p.id, 'Un-RSVP') }}
                            {% else %}
                                {{ event_action_button('attend', event.id, 'RSVP to Attend') }}
                            {% endfor %}
                        </div>
                    {% endif %}

                    {% if event.organizer_id == user_id or user.role.code == "admin" %}
                        <div class="card-actions">
                            {{ event_action_button('delete_event', event.id, 'Delete') }}
                            {{ event_action_button('edit_event', event.id, 'Edit')}}
                        </div>
                    {% endif %}
                </div>
            {% else %}
                <div class="event-card"style="text-align: center; padding: 100px;"><p>No events yet</p></div>
            {% endfor %}
        </div>        
        <div class="more-info"> 
            <div>
                <h3>Upcoming events</h3>
                {% for event in events if event.date >= today %}
                    {% if loop.index == 1 or (loop.index > 1 and event.date != loop.previtem.date) %}
                        <h4>{{ event.date.strftime("%B %d, %Y") }}</h4>
                    {% endif %}
                    {{ event_link(event) }}
                {% else %}
                    <p>No upcoming events</p>
                {% endfor -%}
            </div>
            <div>
                <h3>All events</h3>
                {% for event in all_events %}
                    {{ event_link(event, True) }}
                {% else %}
                    <p>No events yet</p>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
