{% extends 'base.html' %}

{% block content %}
    <span class="title"><h1>{% block title %} Login {% endblock %}</h1></span>
    <h2>{{ welcome_message }}</h2>
    <form method="POST" action="/login">
        <input type="text" name="uname" placeholder="Username">
        {% for message in get_flashed_messages() %}
            <div class="alert">{{ message }}</div>
        {% endfor %}
        <button type="submit">Log in</button>
        <p>Dont have an account? <a href="{{ url_for('signup') }}">Sign up</a> now!</p>
    </form>
{% endblock %}