   {{#                     <!-- {% if event.type[:9] == "volunteer" %}
                            <div class="volunteers">Volunteers:
                                <button><a href="{{ url_for('volunteer', event_id=event.id) }}"> Sign up to Volunteer</a></button>
                                <br>
                                <table class="volunteer-table">
                                    <thead>
                                        <th>Name</th>
                                        <th>Type</th>
                                    </thead>
                                    {% for volunteer in event.volunteers %}
                                        <tr>
                                            <td>{{ users.query.get_or_404(volunteer.user_id).fullname }}</td>
                                            <td>{{ volunteer.type }}</td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        {% endif %} -->
    #}}


    <!-- <style>
    body {
        width: 100%;
        font-family: Arial, Helvetica, sans-serif;
    }
    body * {
        font-family: inherit;
    }
    form {
        margin: 10px auto;
        width: 25%;
        border-radius: 0.7em;
        background-color: lavender;
        padding: 10px;
    }
    .form-group {
        margin: inherit;
        width: 80%;
    }
    .form-field {
        margin: inherit;
        padding: 15px 5px;
        border: 2px solid purple;
        border-radius: 0.5em;
        width: 100%;
        font-size: 14pt;
        background-color: white;
    }
    .form-field :not(input[type='submit']) {
        border: none;
        background-color: transparent;
        width: inherit
    }
    .form-field *:focus-visible {
        outline: none;
    }
    form:nth-last-child() {
        border: none;
    }
    textarea {
        resize: vertical;
    }
    /* select, textarea {
        width: 95%;
    } */
    input[type="submit"] {
        margin-left: 50px;
        background-color: purple;
        border-radius: 2em;
        color: white;
        padding: 10px;
        border: none;
    }
    .small-select {
        width: 45%;
    }
</style> -->
