/* Univertsal Styling */
body {
    font-family: Georgia, Helvetica, Arial, sans-serif;
    margin: 0;
    background-color: white;
}

body * {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.content {
    margin: 0;
}

.title {
    display: none;
}

h1 {
    width: 100%;
}

a {
    text-decoration: none;
}

a:hover {
    color: rgb(33, 103, 147);
}

nav {
    background-color: black;
    height: 75px;
    justify-items: center;
    align-content: center;
    display: flex;
    padding: var(--nav-padding);
    justify-content: space-between;
}

nav > :is(div, a), nav > div > :is(button, a), #logo-link * {
    font-size: 14px;
    margin: 0px 25px;
    text-decoration: none;
    color: white;  
}

nav :is(div, #logo-link > p) > a:not(.active):hover {
    color:lightgray;
}

nav div {
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav div a {
    align-items: flex-start;
    padding: 15px 0px;
}

#logo-link {
    display: flex;
    align-items: center;
}

.site-pages {
    float: left;
}

.account-actions {
    float: inline-end;
}

.event-view {
    width: 100%
}

button {
    background-color: var(--purple);
    border-radius: 3px;
    height: 50px;
    padding: 5px 15px;
    color: white;
    border: none;
    display: inline-block;
}


button a {
    text-decoration: none;
    color: white;
}

button a:hover {
    color: var(--card-bg-color)
}

.orange, .active {
    color: var(--orange);
}

.active {
    border-bottom: 5px solid var(--orange);
}

.active:hover {
    color: var(--orange-hover);
}

.purple {
    color: var(--purple);
}

button.purple {
    background-color: var(--purple);
}

button.orange  {
    background-color: var(--orange);
}

button.orange:hover {
    background-color: var(--orange);
    color:black;
}

button.orange:hover a {
    color: black;
}

button.orange a:hover {
    color: black;
}


button:hover {
    background-color: var(--purple-hover);
}

/* Form Styling */
form {
    margin: 10px auto;
    width: 25%;
    border-radius: 0.7em;
    background-color: lavender;
    padding: 30px;
}

.form-actions {
    display: block;
    width: 80%;
    text-align: right;
    height: auto;
    margin: inherit;
}

textarea {
    resize: vertical;
    font-family: Arial, sans-serif;
}
.form-group {
    margin: 15px auto;
    width: 80%;
}

.form-field {
    margin: 5px auto;
    padding: 15px 5px;
    border: 2px solid purple;
    border-radius: 3px;
    width: 100%;
    font-size: 14pt;
    background-color: white;
}

.form-field :not(input[type='submit']) {
    border: none;
    background-color: transparent;
    width: inherit
}

.form-field *:focus-visible {
    outline: none;
}

/* event-section container and its children */
.main-container {
    display: grid;
    grid-template-columns: 20% 55% 25%;
    align-items: start;
    justify-content: center;
    justify-items: stretch;
    max-width: var(--main-width);
    margin-right: auto;
    margin-left: auto;
}

.main-container > div {
    margin: 5px;
}

#events {
    align-items: flex-start;
    display: flex;
    flex-flow: row wrap;
    overflow: hidden;
    justify-content: center;
}


.user-info > div, .more-info > div {
    /* width: 200px; */
    position: sticky;
    background-color: var(--card-bg-color);
    border-radius: 10px;
    padding: var(--card-padding);
    margin: 10px;
}

.error {
    height: 50px;
    width: 130px;
    font-size: 24px;;
}

/* Event links */
.event-link {
    margin: 10px;
    display: block;
}

/* div cards within the event-section */
.event-card {
    border-radius: 10px;
    background-color: var(--card-bg-color);
    margin: 5px;
    padding: var(--card-padding);
    display: flex;
    flex-flow: row wrap;
    flex: 1 1 auto;
    align-content: space-between;
}

/* each part of a event box */
.event-card > * {
    margin: 7px;
    width: 100%
}

.event-single .event-card {
    padding: var(--card-padding);
    width:75%;
    margin: auto;
}

/* Elements of the My Events Page */
.events-dashboard {
    align-items: flex-start;
    display: flex;
    flex-flow: row wrap;
    overflow: hidden;
    justify-content: center;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

.flex-separator {
    width: 95%;
    margin-top: 20px;
    align-self: center;
}

.event-dashboard-column {
    display: flex;
    flex-flow: row wrap;
    margin: 5px;
    border: 1px solid lightgrey;
    width: 32%;
    height: 400px;
    overflow-y: scroll;

}

.event-card-small {
    max-width: 90%;
    padding: var(--card-padding);
    margin: 5px 10px;
}

.column-header {
    margin-left: 12px;
}

/* Event details tables */
:where(.volunteers, .participants) > * {
    margin: 7px;
}

/* The div containing the edit and delete card buttons */
.card-actions {
    display: block;
    width: 100%;
    justify-items: center;
    text-align: right;
    height: auto;
}

#events div:hover .card-actions {
    display: inline;
}

.div-table {
    padding: 25px;
    background-color: var(--card-bg-color);
    border-radius: 10px;
    margin: 5px auto;
    width: 90%;
}

.delete, .edit {
    display: inline-block;
}

.delete {
    background-color:  #c70000;
}

.delete:hover {
    background-color:  #c70000d2;
}

form.delete {
    /* background-color: transparent; */
    width: auto;
    padding: 0px;
}

form.delete:hover {
    background-color: #c70000d2;
}

.cancel {
    background-color: transparent;
    border: 1px solid gray;
}

.cancel a {
    color: gray;
}

.cancel:hover, .cancel:hover a {
    background-color: gray;
    color: white;
}

.signout {
    border: 1px solid var(--orange);
    color: black;
    background-color: transparent;
}
.signout a {
    color: var(--orange);
}

.signout a:hover, .signout:hover a {
    color: black;
}
.signout:hover {
    background-color: var(--orange);
}

table {
    border-spacing: 0px;
}

td, th {
    border: 1.5px solid black;
    padding: 5px;
    text-align: center;
}

th {
    background-color: black;
    color: white;
    font-weight: normal;
}

:disabled {
    background-color: #cccccc;
    opacity: 50%;
    cursor: not-allowed;
}

:root {
    --orange: rgb(255, 117, 24);
    --orange-hover: #ff7418d2;
    --purple: rgb(93, 17, 138);
    --purple-hover: #5e118ad2;
    --card-bg-color: #E5E4E2;
    --card-padding: 10px 20px;
}

@media (max-width: 2000px) {
    :root {
        --nav-padding: 0px calc(1rem * 20);
        --main-width: 75%;
    }
}


@media (max-width: 1280px) {
    :root {
        --nav-padding: 0px 25px;
        --main-width: 100%;
    }
}